html, body {
	height: 100%;
}

.main {
	margin-top: 1em;
	position: absolute;
	bottom: 0px;
	top: 55px;
	width: 100%;
}

.main .row {
	height: 100%;
}

.editor-container {
	height: 100%;
}

.editor-container .CodeMirror {
	border-radius: 6px;
	height: 750px;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	height: 99%;
}

.navbar-brand {
	font-family: 'Arvo', serif;
	font-weight: 700;
}

pre {
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
}
