html, body {
	height: 100%;
}

.main {
	margin-top: 1em;
}

.editor-container .CodeMirror {
	border-radius: 6px;
	height: 750px;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
}

.navbar-brand {
	font-family: 'Arvo', serif;
	font-weight: 700;
}

pre {
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
}